section.about.container.grid#about_section
  div.about-left.grid
   img(src=require('../../img/about-1.png'), alt="О компании")
  div.about-right.grid
   h2 О компании
   p МосСервис предлагает услуги по ремонту мягкой кровли. Мягкая кровля широко применяется для перекрытия крыши при строительстве многоэтажных зданий, частных домов, торговых залов, промышленных объектов, гаражей, бань и пр. Для производства кровельного покрытия используются материалы, изготовленные на основе битума и стекловолокна.
  div.grid
   h2 Ваши выгоды от работы с нами:
  div.benefits-items.grid 
   img(src=require('../../img/item-2.png'), alt="Лучшие материалы и лучшая цена")
   p Гарантируем лучшую цену на кровельные материалы и работы по кровле
  div.benefits-items.grid
   img(src=require('../../img/item-3.png'), alt="Официально оформеленный договор")
   p Официальный договор
  div.benefits-items.grid
   img(src=require('../../img/item-1.png'), alt="Бесплатный замер специалистом")
   p Наш специалист совершенно бесплатно произведет замер и детальный расчет вашей крыши
  div.benefits-items.grid
   img(src=require('../../img/item-6.png'), alt="Строгое соблюдение всех стандартов и нормативов")
   p Мы строго соблюдаем все стандарты и нормативы.